@import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet');

body {
	padding: 0;
	margin: 0;
	background-color: #EEE2DC;
}
